
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
    var ScreenCasts = ViewBag.ScreenCasts as List<screenshotdets>;
}

<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row g-3 mb-3 align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12">
                <ul class="nav nav-tabs tab-body-header rounded">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#summery-today">TODAY</a></li>
                    <li class="nav-item"><a class="nav-link " data-bs-toggle="tab" href="#summery-yesterday" onclick="return chartFunctiontwo()">YESTERDAY</a></li>
                    <li class="nav-item"><a class="nav-link " data-bs-toggle="tab" href="#summery-week" onclick="return chartFunctionthree()">PAST 7 DAYS</a></li>
                    <li class="nav-item"><a class="nav-link " data-bs-toggle="tab" href="#summery-month" onclick="return chartFunctionfour()">PAST 30 DAYS</a></li>
                </ul>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="row g-2">
                    <div class="col-12 col-md-6">
                        <div class="input-group-lg">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group-lg">
                            <select class="form-select" aria-label="Default select example">
                                <option selected="">Select User</option>
                                <option value="1">Grace</option>
                                <option value="2">Gabrielle</option>
                                <option value="3">Molly</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-12">
                <div class="tab-content mt-1">
                    <div class="tab-pane fade show active" id="summery-today">
                        <div class="row g-3 mb-3 row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Total time tracked</span>
                                        <div><span class="fs-6 fw-bold me-2">8h 51m</span></div>
                                        <small class="text-muted d-block">This week: 9h 34m</small>
                                        <small class="text-muted d-block">This month: 97h 52m</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3 position-relative">
                                        <span class="text-muted">Idle minutes </span>
                                        <div><span class="fs-6 fw-bold me-2">8M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Unproductive time</span>
                                        <div><span class="fs-6 fw-bold me-2">16M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Productive time</span>
                                        <div><span class="fs-6 fw-bold me-2">7H</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Manual time</span>
                                        <div><span class="fs-6 fw-bold me-2">5M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Mobile time</span>
                                        <div><span class="fs-6 fw-bold me-2">0M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex  align-items-center bg-transparent border-bottom-0 flex-wrap py-3">
                                        <h6 class="m-0 fw-bold">Timeline</h6>
                                        <div class="timeinfo-block d-flex flex-wrap ms-auto">
                                            <div class="report ms-3">
                                                <a href="timeline.html" class="text-secondary underline">Timeline Report</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="apex-timeline" style="margin-left: -25px; min-height: 135px;"><div id="apexchartsfjrbhgeqg" class="apexcharts-canvas apexchartsfjrbhgeqg apexcharts-theme-light" style="width: 807px; height: 120px;"><svg id="SvgjsSvg1266" width="807" height="120" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1268" class="apexcharts-inner apexcharts-graphical" transform="translate(27, 30)"><defs id="SvgjsDefs1267"><clipPath id="gridRectMaskfjrbhgeqg"><rect id="SvgjsRect1300" width="774" height="52.348" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskfjrbhgeqg"></clipPath><clipPath id="nonForecastMaskfjrbhgeqg"></clipPath><clipPath id="gridRectMarkerMaskfjrbhgeqg"><rect id="SvgjsRect1301" width="774" height="56.348" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1307" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1308" stop-opacity="1" stop-color="rgba(255,116,136,1)" offset="0.5"></stop><stop id="SvgjsStop1309" stop-opacity="1" stop-color="rgba(255,69,96,1)" offset="0"></stop><stop id="SvgjsStop1310" stop-opacity="1" stop-color="rgba(255,69,96,1)" offset="1"></stop><stop id="SvgjsStop1311" stop-opacity="1" stop-color="rgba(255,116,136,1)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1273" x1="0" y1="0" x2="0" y2="52.348" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="52.348" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="0"></line><g id="SvgjsG1368" class="apexcharts-yaxis apexcharts-xaxis-inversed" rel="0"><g id="SvgjsG1369" class="apexcharts-yaxis-texts-g apexcharts-xaxis-inversed-texts-g" transform="translate(0, 0)"><text id="SvgjsText1370" font-family="Helvetica, Arial, sans-serif" x="-15" y="28.553454545454546" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1371"></tspan><title></title></text></g><line id="SvgjsLine1372" x1="0" y1="1" x2="0" y2="52.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1313" class="apexcharts-xaxis apexcharts-yaxis-inversed"><g id="SvgjsG1314" class="apexcharts-xaxis-texts-g" transform="translate(0, -8)"><text id="SvgjsText1316" font-family="Helvetica, Arial, sans-serif" x="0" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1318"></tspan><title></title></text><text id="SvgjsText1320" font-family="Helvetica, Arial, sans-serif" x="64.16666666666667" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1322">02:00</tspan><title>02:00</title></text><text id="SvgjsText1324" font-family="Helvetica, Arial, sans-serif" x="128.33333333333334" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1326">04:00</tspan><title>04:00</title></text><text id="SvgjsText1328" font-family="Helvetica, Arial, sans-serif" x="192.50000000000003" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1330">06:00</tspan><title>06:00</title></text><text id="SvgjsText1332" font-family="Helvetica, Arial, sans-serif" x="256.6666666666667" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1334">08:00</tspan><title>08:00</title></text><text id="SvgjsText1336" font-family="Helvetica, Arial, sans-serif" x="320.8333333333333" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1338">10:00</tspan><title>10:00</title></text><text id="SvgjsText1340" font-family="Helvetica, Arial, sans-serif" x="384.99999999999994" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1342">12:00</tspan><title>12:00</title></text><text id="SvgjsText1344" font-family="Helvetica, Arial, sans-serif" x="449.1666666666666" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1346">14:00</tspan><title>14:00</title></text><text id="SvgjsText1348" font-family="Helvetica, Arial, sans-serif" x="513.3333333333333" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1350">16:00</tspan><title>16:00</title></text><text id="SvgjsText1352" font-family="Helvetica, Arial, sans-serif" x="577.5" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1354">18:00</tspan><title>18:00</title></text><text id="SvgjsText1356" font-family="Helvetica, Arial, sans-serif" x="641.6666666666667" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1358">20:00</tspan><title>20:00</title></text><text id="SvgjsText1360" font-family="Helvetica, Arial, sans-serif" x="705.8333333333335" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1362">22:00</tspan><title>22:00</title></text><text id="SvgjsText1364" font-family="Helvetica, Arial, sans-serif" x="770.0000000000002" y="82.348" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1366"></tspan><title></title></text></g><line id="SvgjsLine1367" x1="0" y1="52.348" x2="770" y2="52.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1373" class="apexcharts-grid"><g id="SvgjsG1374" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1387" x1="0" y1="0" x2="770" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1388" x1="0" y1="52.348" x2="770" y2="52.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1375" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1376" x1="64.16666666666667" y1="53.348" x2="64.16666666666667" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1377" x1="128.33333333333334" y1="53.348" x2="128.33333333333334" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1378" x1="192.50000000000003" y1="53.348" x2="192.50000000000003" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1379" x1="256.6666666666667" y1="53.348" x2="256.6666666666667" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1380" x1="320.8333333333333" y1="53.348" x2="320.8333333333333" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1381" x1="384.99999999999994" y1="53.348" x2="384.99999999999994" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1382" x1="449.1666666666666" y1="53.348" x2="449.1666666666666" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1383" x1="513.3333333333333" y1="53.348" x2="513.3333333333333" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1384" x1="577.5" y1="53.348" x2="577.5" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1385" x1="641.6666666666667" y1="53.348" x2="641.6666666666667" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1386" x1="705.8333333333335" y1="53.348" x2="705.8333333333335" y2="59.348" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1390" x1="0" y1="52.348" x2="770" y2="52.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1389" x1="0" y1="1" x2="0" y2="52.348" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1302" class="apexcharts-rangebar-series apexcharts-plot-series"><g id="SvgjsG1303" class="apexcharts-series" seriesName="Joe" rel="1" data:realIndex="0"><path id="SvgjsPath1312" d="M 0 7.8522L 770 7.8522Q 770 7.8522 770 7.8522L 770 44.4958Q 770 44.4958 770 44.4958L 770 44.4958L 0 44.4958L 0 44.4958z" fill="url(#SvgjsLinearGradient1307)" fill-opacity="1" stroke-opacity="1" stroke-linecap="square" stroke-width="0" stroke-dasharray="0" class="apexcharts-rangebar-area" index="0" clip-path="url(#gridRectMaskfjrbhgeqg)" pathTo="M 0 7.8522L 770 7.8522Q 770 7.8522 770 7.8522L 770 44.4958Q 770 44.4958 770 44.4958L 770 44.4958L 0 44.4958L 0 44.4958z" pathFrom="M 0 7.8522L 0 7.8522L 0 44.4958L 0 44.4958L 0 44.4958L 0 44.4958L 0 44.4958L 0 7.8522" data-range-y1="1643587200000" data-range-y2="1643673600000" cy="7.8522" cx="770" j="0" val="1643673600000" barHeight="36.6436" barWidth="770"></path><g id="SvgjsG1305" class="apexcharts-rangebar-goals-markers" style="pointer-events: none"><g id="SvgjsG1306" className="apexcharts-bar-goals-groups"></g></g></g><g id="SvgjsG1304" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1391" x1="0" y1="0" x2="770" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1392" x1="0" y1="0" x2="770" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1393" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1394" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1395" class="apexcharts-point-annotations"></g><rect id="SvgjsRect1396" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1397" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g><rect id="SvgjsRect1272" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1269" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 60px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 69, 96);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                                        <div class="timeinfo-block d-flex flex-wrap justify-content-end">
                                            <div class="start-time text-muted">
                                                <i class="icofont-ui-play"></i>
                                                <span>Start time: 9:55 AM</span>
                                            </div>
                                            <div class="end-time ms-3 text-muted">
                                                <i class="icofont-ui-play-stop"></i>
                                                <span>End time: 12:03 PM</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row end -->
                    </div>
                    <div class="tab-pane fade" id="summery-yesterday">
                        <div class="row g-3 mb-3 row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Total time tracked</span>
                                        <div><span class="fs-6 fw-bold me-2">9h 03m</span></div>
                                        <small class="text-muted d-block">This week: 9h 03m</small>
                                        <small class="text-muted d-block">This month: 97h 52m</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3 position-relative">
                                        <span class="text-muted">Idle minutes </span>
                                        <div><span class="fs-6 fw-bold me-2">25M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Unproductive time</span>
                                        <div><span class="fs-6 fw-bold me-2">36M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Productive time</span>
                                        <div><span class="fs-6 fw-bold me-2">7H 30M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Manual time</span>
                                        <div><span class="fs-6 fw-bold me-2">5M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Mobile time</span>
                                        <div><span class="fs-6 fw-bold me-2">0M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                                        <h6 class="m-0 fw-bold">Hours tracked</h6>
                                    </div>
                                    <div class="card-body py-xl-4 py-3">
                                        <div id="apex-stacked-area-yes"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row end -->
                    </div>
                    <div class="tab-pane fade" id="summery-week">
                        <div class="row g-3 mb-3 row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Total time tracked</span>
                                        <div><span class="fs-6 fw-bold me-2">28h 27m</span></div>
                                        <small class="text-muted d-block">This week: 29h 34m</small>
                                        <small class="text-muted d-block">This month: 167h 52m</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3 position-relative">
                                        <span class="text-muted">Idle minutes </span>
                                        <div><span class="fs-6 fw-bold me-2">68M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Unproductive time</span>
                                        <div><span class="fs-6 fw-bold me-2">66M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Productive time</span>
                                        <div><span class="fs-6 fw-bold me-2">28H</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Manual time</span>
                                        <div><span class="fs-6 fw-bold me-2">15M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Mobile time</span>
                                        <div><span class="fs-6 fw-bold me-2">0M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                                        <h6 class="m-0 fw-bold">Hours tracked</h6>
                                    </div>
                                    <div class="card-body py-xl-4 py-3">
                                        <div id="apex-stacked-area"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row end -->
                    </div>
                    <div class="tab-pane fade" id="summery-month">
                        <div class="row g-3 mb-3 row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Total time tracked</span>
                                        <div><span class="fs-6 fw-bold me-2">8h 51m</span></div>
                                        <small class="text-muted d-block">This week: 9h 34m</small>
                                        <small class="text-muted d-block">This month: 97h 52m</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3 position-relative">
                                        <span class="text-muted">Idle minutes </span>
                                        <div><span class="fs-6 fw-bold me-2">8M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Unproductive time</span>
                                        <div><span class="fs-6 fw-bold me-2">16M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Productive time</span>
                                        <div><span class="fs-6 fw-bold me-2">7H</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Manual time</span>
                                        <div><span class="fs-6 fw-bold me-2">5M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body py-xl-4 py-3">
                                        <span class="text-muted">Mobile time</span>
                                        <div><span class="fs-6 fw-bold me-2">0M</span></div>
                                        <div class="progress mt-4" style="height: 8px;">
                                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                                        <h6 class="m-0 fw-bold">Hours tracked</h6>
                                    </div>
                                    <div class="card-body py-xl-4 py-3">
                                        <div id="apex-stacked-area-month"></div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                        <h6 class="m-0 fw-bold">Recent Screencasts</h6>
                        <div class="report ms-3">
                            <a href="screencasts.html" class="text-secondary underline">All Screencasts</a>
                        </div>
                    </div>
                    <div class="card-body" id="aniimated-thumbnials">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 row-cols-xl-6 row-cols-xxl-6 g-3">
                            @foreach (var screenShot in ScreenCasts)
                            {
                                <div class="col">
                                    <div class="screen-card shadow-sm p-2">
                                        <a href="@String.Format("/ScreenCasts/{0}.png",@screenShot.ScrName)">
                                            <img class="img-fluid img-thumbnail" src="@String.Format("/ScreenCasts/{0}.png",@screenShot.ScrName)" alt="">
                                        </a>
                                        <div class="user-profile d-flex align-items-center mt-3">
                                            <img class="avatar rounded-circle" src="~/images/profile_av.svg" alt="profile">
                                            <div class="u-info ms-2">
                                                <span class="fw-bold">@screenShot.DeveloperName</span><br>
                                                <span class="fw-bold text-success">@screenShot.ProjName</span><br>
                                                <span class="text-muted">@screenShot.TimeTaken.ToString("hh:mm tt").ToUpper()</span>
                                            </div>
                                        </div>
                                        <div class="user-activity d-flex justify-content-between">
                                            <div class="keybord-block w-50 pe-1">
                                                <i class="icofont-ui-keyboard "></i>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="mouse-block w-50 ps-1 text-end">
                                                <i class="icofont-wireless-mouse "></i>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3 row-deck">
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                        <h6 class="m-0 fw-bold">Top used web &amp; app</h6>
                        <div class="report ms-3">
                            <a href="#" class="text-secondary underline">Website &amp; App</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> linkedin.Com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">2h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> my.indeed.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">3h 30m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> in.indeed.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">1h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> mail.google.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">2h 10m</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                        <h6 class="m-0 fw-bold">Unproductive web &amp; app</h6>
                        <div class="report ms-3">
                            <a href="#" class="text-secondary underline">Website &amp; App</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> my.indeed.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">1h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> my.indeed.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">1h 20m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-30">
                                <i class="icofont-world pe-2 fs-5"></i> my.indeed.com
                            </div>
                            <div class="site-progress w-25 my-2 my-sm-0">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="site-time">
                                <span class="fw-bold">1h 10m</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3 row-deck">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                        <h6 class="m-0 fw-bold">Top tasks</h6>
                        <div class="report ms-3">
                            <a href="projects.html" class="text-secondary underline">Project Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-25 mb-2 mb-sm-0">
                                Design Index Page
                            </div>
                            <div class="site-time">
                                <span class="bg-lightblue px-3 py-1 d-inline rounded">Design</span>
                                <span class="fw-bold ms-1">2h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-25 mb-2 mb-sm-0">
                                Create Blog
                            </div>
                            <div class="site-time">
                                <span class="light-danger-bg px-3 py-1 d-inline rounded">Marketing</span>
                                <span class="fw-bold ms-1">4h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-25 mb-2 mb-sm-0">
                                Authentication
                            </div>
                            <div class="site-time">
                                <span class="light-orange-bg px-3 py-1 d-inline rounded">Development</span>
                                <span class="fw-bold ms-1">1h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-25 mb-2 mb-sm-0">
                                Crude oprtaion
                            </div>
                            <div class="site-time">
                                <span class="light-orange-bg px-3 py-1 d-inline rounded">Development</span>
                                <span class="fw-bold ms-1">1h 10m</span>
                            </div>
                        </div>
                        <div class="site-block-list d-flex align-items-center flex-wrap justify-content-sm-between mb-3">
                            <div class="site-list w-25 mb-2 mb-sm-0">
                                Create Logo
                            </div>
                            <div class="site-time">
                                <span class="bg-lightblue px-3 py-1 d-inline rounded">Design</span>
                                <span class="fw-bold ms-1">2h 10m</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0 py-3">
                        <h6 class="m-0 fw-bold">Top projects</h6>
                        <div class="report ms-3">
                            <a href="task.html" class="text-secondary underline">Project Report</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-3 row-cols-lg-3">
                            <div class="col"><div id="apex-circle-chart-one" style="min-height: 158.7px;"><div id="apexchartss29qhlh6" class="apexcharts-canvas apexchartss29qhlh6 apexcharts-theme-light" style="width: 250px; height: 158.7px;"><svg id="SvgjsSvg1398" width="250" height="158.70000000000002" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1400" class="apexcharts-inner apexcharts-graphical" transform="translate(48, 0)"><defs id="SvgjsDefs1399"><clipPath id="gridRectMasks29qhlh6"><rect id="SvgjsRect1402" width="162" height="180" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMasks29qhlh6"></clipPath><clipPath id="nonForecastMasks29qhlh6"></clipPath><clipPath id="gridRectMarkerMasks29qhlh6"><rect id="SvgjsRect1403" width="160" height="182" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1404" class="apexcharts-radialbar"><g id="SvgjsG1405"><g id="SvgjsG1406" class="apexcharts-tracks"><g id="SvgjsG1407" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.349195121951222" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596"></path></g></g><g id="SvgjsG1409"><g id="SvgjsG1414" class="apexcharts-series apexcharts-radial-series" seriesName="Design" rel="1" data:realIndex="0"><path id="SvgjsPath1415" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 0 1 78 134.82560975609755" fill="none" fill-opacity="0.85" stroke="var(--chart-color1)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.514634146341466" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="180" data:value="50" index="0" j="0" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 0 1 78 134.82560975609755"></path></g><circle id="SvgjsCircle1410" r="49.15101219512195" cx="78" cy="78" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1411" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1412" font-family="Helvetica, Arial, sans-serif" x="78" y="78" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="600" fill="var(--chart-color1)" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">Design</text><text id="SvgjsText1413" font-family="Helvetica, Arial, sans-serif" x="78" y="110" text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">50%</text></g></g></g></g><line id="SvgjsLine1416" x1="0" y1="0" x2="156" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1417" x1="0" y1="0" x2="156" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1401" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div></div>
                            <div class="col"><div id="apex-circle-chart-two" style="min-height: 158.7px;"><div id="apexcharts2tp19ob9" class="apexcharts-canvas apexcharts2tp19ob9 apexcharts-theme-light" style="width: 250px; height: 158.7px;"><svg id="SvgjsSvg1418" width="250" height="158.70000000000002" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1420" class="apexcharts-inner apexcharts-graphical" transform="translate(48, 0)"><defs id="SvgjsDefs1419"><clipPath id="gridRectMask2tp19ob9"><rect id="SvgjsRect1422" width="162" height="180" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask2tp19ob9"></clipPath><clipPath id="nonForecastMask2tp19ob9"></clipPath><clipPath id="gridRectMarkerMask2tp19ob9"><rect id="SvgjsRect1423" width="160" height="182" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1424" class="apexcharts-radialbar"><g id="SvgjsG1425"><g id="SvgjsG1426" class="apexcharts-tracks"><g id="SvgjsG1427" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.349195121951222" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596"></path></g></g><g id="SvgjsG1429"><g id="SvgjsG1434" class="apexcharts-series apexcharts-radial-series" seriesName="Devlopment" rel="1" data:realIndex="0"><path id="SvgjsPath1435" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 23.95563354901796 60.439920869647025" fill="none" fill-opacity="0.85" stroke="var(--chart-color5)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.514634146341466" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="288" data:value="80" index="0" j="0" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 23.95563354901796 60.439920869647025"></path></g><circle id="SvgjsCircle1430" r="49.15101219512195" cx="78" cy="78" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1431" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1432" font-family="Helvetica, Arial, sans-serif" x="78" y="78" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="600" fill="var(--chart-color5)" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">Devlopment</text><text id="SvgjsText1433" font-family="Helvetica, Arial, sans-serif" x="78" y="110" text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">80%</text></g></g></g></g><line id="SvgjsLine1436" x1="0" y1="0" x2="156" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1437" x1="0" y1="0" x2="156" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1421" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div></div>
                            <div class="col"><div id="apex-circle-chart-three" style="min-height: 158.7px;"><div id="apexcharts09nb1mzcg" class="apexcharts-canvas apexcharts09nb1mzcg apexcharts-theme-light" style="width: 250px; height: 158.7px;"><svg id="SvgjsSvg1438" width="250" height="158.70000000000002" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1440" class="apexcharts-inner apexcharts-graphical" transform="translate(48, 0)"><defs id="SvgjsDefs1439"><clipPath id="gridRectMask09nb1mzcg"><rect id="SvgjsRect1442" width="162" height="180" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask09nb1mzcg"></clipPath><clipPath id="nonForecastMask09nb1mzcg"></clipPath><clipPath id="gridRectMarkerMask09nb1mzcg"><rect id="SvgjsRect1443" width="160" height="182" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1444" class="apexcharts-radialbar"><g id="SvgjsG1445"><g id="SvgjsG1446" class="apexcharts-tracks"><g id="SvgjsG1447" class="apexcharts-radialbar-track apexcharts-track" rel="1"><path id="apexcharts-radialbarTrack-0" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596" fill="none" fill-opacity="1" stroke="rgba(242,242,242,0.85)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.349195121951222" stroke-dasharray="0" class="apexcharts-radialbar-area" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 1 1 77.99008206015337 21.17439110940596"></path></g></g><g id="SvgjsG1449"><g id="SvgjsG1454" class="apexcharts-series apexcharts-radial-series" seriesName="Marketing" rel="1" data:realIndex="0"><path id="SvgjsPath1455" d="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 0 1 111.40125536716143 123.97288400840173" fill="none" fill-opacity="0.85" stroke="var(--chart-color3)" stroke-opacity="1" stroke-linecap="butt" stroke-width="5.514634146341466" stroke-dasharray="0" class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="144" data:value="40" index="0" j="0" data:pathOrig="M 78 21.174390243902437 A 56.82560975609756 56.82560975609756 0 0 1 111.40125536716143 123.97288400840173"></path></g><circle id="SvgjsCircle1450" r="49.15101219512195" cx="78" cy="78" class="apexcharts-radialbar-hollow" fill="transparent"></circle><g id="SvgjsG1451" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText1452" font-family="Helvetica, Arial, sans-serif" x="78" y="78" text-anchor="middle" dominant-baseline="auto" font-size="16px" font-weight="600" fill="var(--chart-color3)" class="apexcharts-text apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">Marketing</text><text id="SvgjsText1453" font-family="Helvetica, Arial, sans-serif" x="78" y="110" text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">40%</text></g></g></g></g><line id="SvgjsLine1456" x1="0" y1="0" x2="156" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1457" x1="0" y1="0" x2="156" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1441" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>