@model IEnumerable<TimeTrackerInvoice>
@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
    var invoiceModel = new TimeTrackerInvoice();
}

<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">

        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0 py-3 pb-2">Invoices</h3>
                </div>
                <div class="d-flex py-2 project-tab flex-wrap w-sm-100 ms-auto">

                </div>
            </div>
        </div> <!-- Row end  -->

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">

                        <table id="timetracker-table" class="table table-hover custom-table align-middle mb-0 nowrap dataTable no-footer dtr-inline" style="width: 100%;" role="grid" aria-describedby="timetracker-table_info">
                            <thead>
                                <tr role="row">
                                    <th>Invoice Ref</th>
                                    <th>Developer Name </th>
                                    <th>Project Name</th>
                                    <th>Hours Worked</th>
                                    <th>Total Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var invoice in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td><strong>@invoice.InvoiceRef</strong></td>
                                        <td>@invoice.DeveloperName</td>
                                        <td>@invoice.ProjectName</td>
                                        <td>@invoice.TotalHours</td>
                                        <td>@invoice.TotalAmount</td>
                                        <td class=" dt-body-right">
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <a asp-action="InvoiceView" asp-controller="Client" asp-route-invoicecode="@invoice.InvoiceCode" class="btn btn-outline-secondary"><i class="icofont-save text-success"></i> View Details</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>  <!-- Row end  -->

            </div>

        </div> <!-- Row end  -->
    </div>
</div>
<div class="modal fade" id="previewinvoice" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="invoiceModal">
        <div class="modal-content" id="invoicecontent">
        </div>
    </div>
</div>
<div class="modal fade" id="createInvoice" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="invoiceModal">
        <div class="modal-content" id="createInvoiceContent">
        </div>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/plugin/datatables/dataTables.bootstrap5.min.css">
}
@section Scripts{
    <script src="~/bundles/dataTables.bundle.js"></script>
    <script src="~/lib/jspdf-fixed/dist/jspdf.debug.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             $('#timetracker-table').addClass('nowrap').dataTable({
                 responsive: true
             });
         });
        $(".preview-invoice").click(function (e) {

            //prevent Default functionality
             e.preventDefault();
             var code = $(this).attr('icode');
            //do your own request an handle the results
             $.ajax({
                 url: '@Url.Action("InvoiceView", "Developer")',
                 type: "post",
                 data: { invoicecode:code}
            }).done(function (data) {
                $('#invoicecontent').html(data);
                var myModal = new bootstrap.Modal(document.getElementById("previewinvoice"), {});
                myModal.show();
            });
        });
         $('#btnCreateInvoice').click(function (e) {
             e.preventDefault();
             $.ajax({
                 url: '@Url.Action("Invoice", "Developer")',
                 type: "get"
            }).done(function (data) {
                $('#createInvoiceContent').html(data);
                var myModal = new bootstrap.Modal(document.getElementById("createInvoice"), {});
                myModal.show();
                $("#CreateInvoice").submit(function (e) {

                    //prevent Default functionality
                    e.preventDefault();

                    //do your own request an handle the results
                    $.ajax({
                        url: '@Url.Action("Invoice", "Developer")',
                        type: "post",
                        data: $("#CreateInvoice").serialize()
                    }).done(function (data) {
                        if (data.success) {
                            $("#errorMessage").removeClass("text-danger");
                            $("#errorMessage").addClass("text-success");
                            $("#errorMessage").text(data.message);
                        }
                        else {
                            $("#errorMessage").text(data.message);
                        }
                        });
                });
            });
         })
    </script>
}

