@model IEnumerable<Invoice>
@{
    ViewData["Title"] = "Invoices";
    Layout = "~/Views/Shared/_LayoutDevelopers.cshtml";
}

<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">

        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0 py-3 pb-2">Invoices</h3>
                </div>
            </div>
        </div> <!-- Row end  -->

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        @foreach (var invoice in Model)
                        {
                            <div class="card mb-3">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <div class="d-none d-md-block">
                                        <strong>Invoice No:</strong>
                                        <span class="text-danger">@invoice.InvoiceRef</span>
                                    </div>
                                </div>
                                <div class="card-body d-sm-flex justify-content-between">
                                    <a href="javascript:void(0);" class="d-flex">
                                        <img class="avatar rounded" src="~/images/xs/avatar1.svg" alt="">
                                        <div class="flex-fill ms-3 text-truncate">
                                            <h6 class="d-flex justify-content-between mb-0"><span>@invoice.ClientName</span></h6>
                                            <span class="text-muted">@invoice.ProjectName</span>
                                        </div>
                                    </a>
                                    <div class="text-end d-none d-md-block">
                                        <p class="mb-1"><i class="icofont-location-pin ps-1"></i>Hours Worked : @invoice.TotalHours</p>
                                        <span class="text-muted"><i class="icofont-money ps-1"></i>$@invoice.TotalAmount</span>
                                    </div>
                                </div>
                                <div class="card-footer justify-content-between d-flex align-items-center">
                                    <div class="d-none d-md-block">
                                        <strong>Date on:</strong>
                                        <span>@invoice.DateGenerated.ToShortDateString()</span>
                                    </div>
                                    <div class="card-hover-show">
                                        <a class="btn btn-sm btn-white border lift preview-invoice" href="#" icode="@invoice.InvoiceCode">View</a>
                                        <a class="btn btn-sm btn-white border lift" href="#">Send</a>
                                        <a class="btn btn-sm btn-white border lift" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }

                        <nav aria-label="Page navigation">
                            <ul class="pagination mt-4">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>  <!-- Row end  -->

            </div>

        </div> <!-- Row end  -->
    </div>
</div>
<div class="modal fade" id="previewinvoice" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="invoiceModal">
        <div class="modal-content" id="invoicecontent">
        </div>
    </div>
</div>

@section Scripts{
     <script src="~/lib/jQuery.print/jQuery.print.js"></script>
     <script type="text/javascript">
        $(".preview-invoice").click(function (e) {

            //prevent Default functionality
             e.preventDefault();
             var code = $(this).attr('icode');
            //do your own request an handle the results
             $.ajax({
                 url: '@Url.Action("InvoiceView", "Developer")',
                 type: "post",
                 data: { invoicecode:code}
            }).done(function (data) {
                $('#invoicecontent').html(data);
                var myModal = new bootstrap.Modal(document.getElementById("previewinvoice"), {});
                myModal.show();
            });
        });

     </script>
}


