@model IEnumerable<InvoiceDets>
@{
    decimal sum = 0;
}
<div class="modal-header">
    <h5 class="modal-title  fw-bold" id="createprojectlLabel"></h5>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a asp-action="InvoicePreview" asp-controller="Developer" asp-route-invoicecode="100" target="_blank" class="btn btn-secondary print">Print</a>
        <a asp-action="InvoiceEmail" asp-controller="Developer" inCode="@ViewBag.InvoiceCode" type="button" form="CreateProject" class="btn btn-primary" id="btnSendEmail">Send Via Email</a>
    </div>
</div>
<div class="modal-body">
    <page size="A4" id="invoice">
        <div class="container-fluid w-auto p-3 m-4 border border-secondary invoice-container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h6 class="underline bold"><strong>Monthly Invoice</strong></h6>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-6 text-end">
                    <table class="table table-bordered table-sm">
                        <tr>
                            <td>Developer</td>
                            <td>@ViewBag.DevName</td>
                        </tr>
                        <tr>
                            <td>Invoice No</td>
                            <td>@ViewBag.Invoiceref</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>@ViewBag.DateGen</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-md-6">
                    <table class="table table-bordered table-sm">
                        <tr>
                            <td>Client</td>
                            <td>@ViewBag.ClientName</td>
                        </tr>
                        <tr>
                            <td>Project</td>
                            <td>@ViewBag.ProjectName</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>Activity</th>
                                <th>Total Time</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var det in Model.Where(x => x.ItemType == 4))
                            {
                                sum = sum + Convert.ToDecimal(det.ItemValue);
                                <tr>
                                    <td>@det.ItemDescr</td>
                                    <td>@det.Item</td>
                                    <td>$ @det.ItemValue</td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"><strong>Total</strong></td>
                                <td><strong>$ @sum</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-8 text-center"><i>Terms and conditions apply</i></div>
            </div>
        </div>
    </page>
</div>
@section css{
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.css"/>
            } 
@section Scripts{
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <script>
        $('#btnSendEmail').click(function (e) { 
            e.preventDefault();
            var url = $(this).attr('href');
            var icode = $(this).attr('inCode');
            showConfirmMessage('Send Invoice', 'Are you sure you want to send this invoice to client\'s email?', function () {
                executeAction(url, icode);
            });
        })
 

     function showConfirmMessage(title, message, callback) {
         Swal.fire({
             title: title,
             text: message,
             type: 'warning',
             showCancelButton: true,
             confirmButtonText: '<i class="fa fa-check"></i> Yes',
             cancelButtonText: '<i class="fa fa-close"></i> No',
             confirmButtonClass: 'btn-success btn mr-1',
             cancelButtonClass: 'bg-green btn ml-1',
             buttonsStyling: false
         }).then((result) => {
             if (result.value) {
                 callback();
             }
         });
     }

     function executeAction(url,inCode) {
             swal.fire({
                title: '<i class="fa fa-spin fa-spinner fa-3x"></i>',
                html: '<h4>Processing.....</h4>',
                footer: 'Please wait....',
                showConfirmButton: false
             });

            $.ajax({
                type: "post",
                url: url,
                data: { invoicecode:inCode}
            }).done(function (data) {
                if (data.success) {
                    location.reload();
                } else {
                    location.reload();
                }
            });
        }
    </script>

}
