@model IEnumerable<TimeTrack>
@{
    ViewData["Title"] = "MyActivities";
    Layout = "~/Views/Shared/_LayoutDevelopers.cshtml";
}

<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="h4 mb-0">Time Tracks</h3>
                    <div class="col-auto d-flex w-sm-100 mt-2 mt-sm-0">
                        <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#sendsheet"><i class="icofont-plus-circle me-2 fs-6"></i>Sent CSV</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="timetracker-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="col-sm-12">
                                    <table id="timetracker-table" class="table table-hover custom-table align-middle mb-0 nowrap dataTable no-footer dtr-inline" style="width: 100%;" role="grid" aria-describedby="timetracker-table_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 94px;" aria-sort="ascending" aria-label="Project: activate to sort column descending">Project</th>
                                                <th class="sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 92px;" aria-label="Start Time: activate to sort column ascending">Start Time</th>
                                                <th class="sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 92px;" aria-label="End Time: activate to sort column ascending">End Time</th>
                                                <th class="dt-body-right sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 53px;" aria-label="Worked: activate to sort column ascending">Worked</th>
                                                <th class="sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 116px;" aria-label="Task Detail: activate to sort column ascending">Task Detail</th>
                                                <th class="sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 116px;" aria-label="Task Detail: activate to sort column ascending">KeyHits</th>
                                                <th class="sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 116px;" aria-label="Task Detail: activate to sort column ascending">MouseClicks</th>
                                                <th class="dt-body-right sorting" tabindex="0" aria-controls="timetracker-table" rowspan="1" colspan="1" style="width: 67px;" aria-label="Action: activate to sort column ascending">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var track in Model)
                                            {
                                            <tr role="row" class="odd">
                                                <td class=" dt-body-right"><strong>@track.ProjectName</strong></td>
                                                <td>@track.BeginDate.ToString("HH:mm:ss")</td>
                                                <td>@track.EndDate.ToString("HH:mm:ss")</td>
                                                <td class=" dt-body-right"><strong>@string.Format("{0:%h}h, {0:%m}m, {0:%s}s", (track.EndDate - track.BeginDate))</strong></td>
                                                <td>@track.TTDescr</td>
                                                <td>@track.KeyboardHits</td>
                                                <td>@track.MouseClicks</td>
                                                <td class=" dt-body-right">
                                                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                        <button type="button" class="btn btn-outline-secondary"><i class="icofont-save text-success"></i></button>
                                                        <button type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-close-line-squared-alt text-danger"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section css{
    <link rel="stylesheet" href="~/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/plugin/datatables/dataTables.bootstrap5.min.css">
}
@section Scripts{
    <script src="~/bundles/dataTables.bundle.js"></script>
    <script>
        $(document).ready(function () {
            $('#timetracker-table').addClass('nowrap').dataTable({
                responsive: true
            });
        });
    </script>

}